@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  /* padding: 0; */
  font-family: 'Poppins', sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url(img/background.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}

/*INICIO HEADER */
header {
  background: rgba(0, 0, 0, 0.0);
  color: rgb(161, 250, 158);
  display: flex;
  min-height: 1vw;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  text-shadow: black 0.3em 0.2em 0.4em;
  font-weight: 900;
  font-size: 0.9vw;
}

.logo {
  font-size: 2vw;
  align-items: center;
  display: flex;
  font-weight: 900;
  letter-spacing: 1.3px;
  color: rgb(161, 250, 158);

}

nav {
  padding-right: 20px;
  font-weight: 900;
  letter-spacing: 4px;
  word-spacing: 15px;
}

a {
  color: #fff;
  text-decoration: none;
  font-weight: 900;
  text-shadow: black 0.1em 0.1em 0.1em;
}

li {
  display: inline-block;
  list-style: none;
}

a:hover {
  color: purple;
}

nav ul li a.activo {
  color: purple;
}

/*FIN HEADER */

/*INICIO CONTENIDO  */
.row {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.2vw;
  margin: 40px;
  color: #fff;
}

.felino {
  width: 17vw;
  height: 23vw;
  display: inline-block;
  border-radius: 20px;
  padding: 15px 30px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 10px 15px;
  background-position: center;
  background-size: cover;
  transition: 0.5s;
  box-shadow: 0px 0px 20px black;
}

.felino p {
  font-size: 15px;
}

.domestico {
  background-image: url(img/domestico.jpg);
}

.salvaje {
  background-image: url(img/salvaje.jpg);
}

.extincion {
  background-image: url(img/extincion.jpg);
}

.felino:hover {
  filter: none;
  transform: translateY(-10px);
  box-shadow: 0px 0px 20px white;
}

.felino h2 {
  background: rgba(0, 0, 0, 0.3);
  position: relative;
  border-radius: 20px;
  font-size: 1.2vw;
  display: flex;
  justify-content: center;
  text-align: center;
}

/*FIN INICIO  */
/* INICIO GALERIA */
.col {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 1.2vw;
  width: 100%;
  position: relative;
}

/* TITULOS GALERIA */
.col h1 {
  color: #ffffff;
}

.fila {
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  width: 50vw;
  height: 20vw;
  margin-left: auto;
  margin-right: auto;
  margin: 2px;
  backdrop-filter: blur(10px);
  flex-direction: row-reverse;
  overflow: hidden;
  border-radius: 6px;
}

.boton {
  border: 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  font-size: 4vw;
  width: 3vw;
  position: absolute;
  color: #fff;
  backdrop-filter: blur(1px);
  border-radius: 6px;
}

.avanzar {
  right: 20%;
  top: 45%;
}

.retroceder {
  left: 20%;
  top: 45%;
}

.boton:hover {
  color: #000000;
  background: #fff;
}

.text {
  padding-left: 20px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  font-size: 0.88vw
}

/* INFORMACION SOBRE LOS ANIMALES */
.text p {
  color: grey;
  text-align: start;
}

/* NOMBRES ANIMALES */
.text h2 {
  text-align: start;
  color: #fff;
  font-weight: 900;
}

/* IMAGENES ANIMALES */
.fila img {
  min-width: 15vw;
  max-width: 15vw;
  max-height: 400px;
  margin-right: 25px;
  display: block;
  margin: 0;
  padding: 0;
}

/* FIN GALERIA */

/* INICIO FOOTER */
footer {
  /* position: fixed; */
  width: 100%;
  margin-top: auto;
}

.footer-row {
  display: flex;
  justify-content: center;
  text-align: center;
  /* background: rgba(0, 0, 0, 1); */
  color: rgb(161, 250, 158);
  display: flex;
  padding: 10px;
  align-items: center;
  text-shadow: black 0.3em 0.2em 0.4em;
  font-weight: 900;
}

.footer col {
  align-items: center;
  justify-content: center;
  display: flex;
}


.social {
  font-weight: 900;
  word-spacing: 3px;
  /* background-color: red; */
  text-decoration: none;
  text-shadow: black 0.1em 0.1em 0.1em;
}

.social a {
  display: inline-block;
  width: 2.5vw;
  height: 2.5vw;
  font-size: 1vw;
  margin: 0 10px 10px 0;
  background-color: rgb(56, 56, 56);
  border-radius: 50%;
  line-height: 2.5vw;
  text-align: center;
  color: white;
  transition: 0.5s;
}

.social a:hover {
  color: black;
  transform: translateY(-2px);
}

.footer-logo {
  font-size: 1.4vw;
  justify-content: center;
  align-items: center;
  display: flex;
  font-weight: 900;
  letter-spacing: 1.3px;
  text-shadow: black 0.3em 0.2em 0.4em;
  margin-bottom: 10px;
}

.footer-logo p {
  border-bottom: 2px solid purple;
}


/* FIN FOOTER */

/* CONTACTO */
section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rowform {
  max-width: 850px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgba(220, 220, 220, 0.2);
  backdrop-filter: blur(5px);
  border-radius: 20px;
  box-shadow: 0px 0px 80px grey;
  padding-left: 20px;
  padding-right: 20px;

}

.colresultado {
  overflow: hidden;
  padding: 0px;
  width: 0px;
  height: 0px;
}

.colresultado h2 {
  color: white;
  text-shadow: 0 0 5px black, 0 0 10px black;
  margin-bottom: 22px;
  font-weight: 900;
  letter-spacing: 4px;
  word-spacing: 15px;
}

.colresultado p {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 10px;
  font-size: 16px;
  margin-bottom: 22px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.ptext {
  min-height: 150px;
}

.resultado {
  color: white;
  text-align: justify;
  word-wrap: break-word;
  overflow: hidden;
}

.colform {
  padding: 20px;
  max-width: 400px;
  width: 400px;
}

.colform h2 {
  color: rgb(0, 0, 0);
  text-shadow: 0 0 5px #fff, 0 0 10px #fff;
  font-weight: 900;
  letter-spacing: 4px;
  word-spacing: 15px;
}

.input {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 10px;
  font-size: 16px;
  margin-top: 22px;
  border-radius: 10px;
  border: none;
  outline: none;
}

textarea {
  min-height: 150px;
  resize: none;
}


.buttonsubmit {
  width: 100%;
  padding: 10px;
  background-color: black;
  color: white;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 20px;
}

.buttonsubmit:hover {
  background-color: grey;
  color: white;
}

.errornombre,
.errortelefono,
.erroremail,
.errormensaje {
  color: red;
}

/* FIN CONTACTO */

@media screen and (max-width: 600px) {

  header {
    flex-direction: column;
    align-items: center;
    margin-bottom: 10vw;
  }

  .logo {
    font-size: 6vw;
    text-align: center;
    padding-left: 20px;
  }

  li {
    font-size: 3vw;
    text-align: center;
  }

  .row {
    flex-direction: column;
  }

  .felino {
    width: 34vw;
    height: 46vw;
  }

  .felino h2 {
    font-size: 2.4vw;
  }

  .social a {
    width: 5vw;
    height: 5vw;
    font-size: 2vw;
    line-height: 5vw;
  }

  .footer-logo {
    font-size: 2.8vw;
  }
}